<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Math Hainaut website" />

    <link rel="stylesheet" type="text/css" media="screen" href="${stylesheet}">

    <title>${title} - Math Hainaut</title>
    
    <meta name="author" content="Math Hainaut" />
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
					<span ml:replace="webpage_title">Webpage title</span>
          <span ml:replace="menu">Menu</span>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <span ml:replace="main">Main text area.</span>
      </section>
    </div>
    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Ce site est créé et géré par <a href="https://github.com/mathhainaut">Math Hainaut</a>, et publié grâce aux <a href="http://pages.github.com">pages GitHub</a>.</p>
        <p>E-mail: <span ml:replace="email">l'adresse e-mail defined in locations.ml</span>.</p>
       <a id="forkme_banner" href="https://github.com/mathhainaut/mathhainaut.github.io">Voir le code source du site</a>
      </footer>
    </div>
  </body>
</html>
